<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Demo 3</title>
</head>

<body>

<h3> Student Grade</h3>

<!-- Using if conditional with ThymeLead-->
<div th:if="${grade >= 60}">
    Your Grade: <span th:text="${grade}"></span>
    <p> You Passed! </p>
</div>

<!-- Using switch statements with ThymeLeaf-->
<div th:switch="${GPA}"> Class Type:
    <span th:case="A">A Student</span>
    <span th:case="B">B Student</span>
    <span th:case="C">C Student</span>
    <span th:case="D">D Student</span>
</div>

</body>
</html>