<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Page 3</title>
</head>
<body>
<h3>Grade Book</h3>

<p>Grade : <span th:text="${grade}"></span></p>

<div th:if="${grade >= 60}">
    <p>You Passed!</p>
</div>

<div th:if="${grade < 60}">
    <p>You Failed!</p>

<div th:switch="${GPA}"> GPA Status:
    <span th:case="A">Excellent</span>
    <span th:case="B">Very Good</span>
    <span th:case="C">Good</span>
    <span th:case="D">Fair</span>
    <span th:case="F">Failed</span>
</div>

</div>
</body>
</html>