<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Controller</title>
</head>
<body>

<h3>Hello World Thymeleaf Project</h3>

<!-- variable output syntax in thymeLeaf-->
<!-- to use variable output, you add an object to model in controller-->
<!-- then you specify the name of the model object here in thymeleaf th:text="${}"-->

<span th:text="${message}"></span> <br/>
<span th:text="${message2}"></span>

<p></p>

<h3>Exam Results</h3>

<!-- if statement-->
<div th:if="${grade} >=60">
    <p>You Successfully passed your exam! Congrats!</p>

<!--    Switch Statement-->
    <div th:switch="${GPA}"> You are
         <span th:case="A">Excellent</span>
        <span th:case="B">Good</span>
        <span th:case="C">Okay</span>
        <span th:case="D">Need Improvement</span>
    </div>
</div>

<div th:if="${grade}<60">
    You failed the exam
</div>
</body>
</html>